$font-family-primary: 'Roboto', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Headlines
$headline1-large-font-size: 3.2rem;
$headline1-large-line-height: 3.8rem;
$headline1-large-font-weight: $font-weight-semibold;
$headline1-large-letter-spacing: 0;

$headline2-medium-font-size: 2.2rem;
$headline2-medium-line-height: 2.8rem;
$headline2-medium-font-weight: $font-weight-regular;
$headline2-medium-letter-spacing: 0;

$headline3-small-font-size: 1.8rem;
$headline3-small-line-height: 2.1rem;
$headline3-small-font-weight: $font-weight-semibold;
$headline3-small-letter-spacing: 0;

// Buttons
$button-small-font-size: 1.4rem;
$button-small-line-height: 1.6rem;
$button-small-font-weight: $font-weight-semibold;
$button-small-letter-spacing: 0;

$button-medium-regular-font-size: 1.6rem;
$button-medium-regular-line-height: 1.9rem;
$button-medium-regular-font-weight: $font-weight-regular;
$button-medium-regular-letter-spacing: 0;

$button-medium-font-size: 1.6rem;
$button-medium-line-height: 1.9rem;
$button-medium-font-weight: $font-weight-medium;
$button-medium-letter-spacing: 0;

$button-large-font-size: 1.8rem;
$button-large-line-height: 2.8rem;
$button-large-font-weight: $font-weight-bold;
$button-large-letter-spacing: 0.5px;

// Body text
$body-small-font-size: 1.4rem;
$body-small-line-height: 1.6rem;
$body-small-font-weight: $font-weight-medium;
$body-small-letter-spacing: 0;

$body-large-font-size: 1.8rem;
$body-large-line-height: 2.1rem;
$body-large-font-weight: $font-weight-regular;
$body-large-letter-spacing: 0;

$body-medium-font-size: 1.6rem;
$body-medium-line-height: 2.4rem;
$body-medium-font-weight: $font-weight-regular;
$body-medium-letter-spacing: 0.5px;

// Links
$link-small-font-size: 1.6rem;
$link-small-line-height: 1.9rem;
$link-small-font-weight: $font-weight-regular;
$link-small-letter-spacing: 0;

// Inputs
$input-medium-font-size: 1.8rem;
$input-medium-line-height: 2.1rem;
$input-medium-font-weight: $font-weight-regular;
$input-medium-letter-spacing: 0;

$input-small-font-size: 1.2rem;
$input-small-line-height: 1.4rem;
$input-small-font-weight: $font-weight-medium;
$input-small-letter-spacing: 0;

@mixin typography-style($font-size, $line-height, $font-weight, $letter-spacing) {
    font-family: $font-family-primary;
    font-size: $font-size;
    line-height: calc($line-height / $font-size);
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
}

// Headline mixins
@mixin headline1-large {
    @include typography-style(
        $headline1-large-font-size,
        $headline1-large-line-height,
        $headline1-large-font-weight,
        $headline1-large-letter-spacing
    );
}

@mixin headline2-medium {
    @include typography-style(
        $headline2-medium-font-size,
        $headline2-medium-line-height,
        $headline2-medium-font-weight,
        $headline2-medium-letter-spacing
    );
}

@mixin headline3-small {
    @include typography-style(
        $headline3-small-font-size,
        $headline3-small-line-height,
        $headline3-small-font-weight,
        $headline3-small-letter-spacing
    );
}

// Button mixins
@mixin button-small {
    @include typography-style(
        $button-small-font-size,
        $button-small-line-height,
        $button-small-font-weight,
        $button-small-letter-spacing
    );
}

@mixin button-medium-regular {
    @include typography-style(
        $button-medium-regular-font-size,
        $button-medium-regular-line-height,
        $button-medium-regular-font-weight,
        $button-medium-regular-letter-spacing
    );
}

@mixin button-medium {
    @include typography-style(
        $button-medium-font-size,
        $button-medium-line-height,
        $button-medium-font-weight,
        $button-medium-letter-spacing
    );
}

@mixin button-large {
    @include typography-style(
        $button-large-font-size,
        $button-large-line-height,
        $button-large-font-weight,
        $button-large-letter-spacing
    );
}

// Body mixins
@mixin body-small {
    @include typography-style(
        $body-small-font-size,
        $body-small-line-height,
        $body-small-font-weight,
        $body-small-letter-spacing
    );
}

@mixin body-large {
    @include typography-style(
        $body-large-font-size,
        $body-large-line-height,
        $body-large-font-weight,
        $body-large-letter-spacing
    );
}

@mixin body-medium {
    @include typography-style(
        $body-medium-font-size,
        $body-medium-line-height,
        $body-medium-font-weight,
        $body-medium-letter-spacing
    );
}

// Link mixins
@mixin link-small {
    @include typography-style(
        $link-small-font-size,
        $link-small-line-height,
        $link-small-font-weight,
        $link-small-letter-spacing
    );
}

// Input mixins
@mixin input-medium {
    @include typography-style(
        $input-medium-font-size,
        $input-medium-line-height,
        $input-medium-font-weight,
        $input-medium-letter-spacing
    );
}

@mixin input-small {
    @include typography-style(
        $input-small-font-size,
        $input-small-line-height,
        $input-small-font-weight,
        $input-small-letter-spacing
    );
}
