$media-sizes: (
  // "xs": 480px,
  // "s": 640px,
  // "sm": 800px,
  // "m": 900px,
  "l": 1024px,
  "xl": 1350px,
  "2xl": 1920px,
);

// $font-main: "Rubik", sans-serif;

// Модульная сетка
$content-fields: 1.6rem;
// $max-width-content: (1438px);

// header
$height-header: 11.2rem;

// sidebar
$sidebar: 5.8rem;
$grid-gap: 1rem;

// Отступ сверху content
$top-offset: 3rem;

$card-border-radius: 1.2rem;

$main-grid-gap: 1.5rem;
$list-gap: 2rem;

// Отступы в карточке видео
$main-video-gap: 1.2rem;
$avatar-size: 4.8rem;

// цвета
$background-dark: #363636;
$background-light: #F8F8F8;

$text-field-dark: #3E3E3E;
$text-field-light: #FFFFFF;

$drag-drop-dark: #585858;
$drag-drop-light: #F2F2F2;

$border-dark: rgba(255, 255, 255, 0.2);
$border-light: rgba(0, 0, 0, 0.28);

$transparency-main-text-dark: rgba(255, 255, 255, 0.7);
$transparency-main-text-light: rgba(0, 0, 0, 0.5);

$black1-text: #000000;
$white1-text: #FFFFFF;

$header-dark: #2E2E2E;
$header-light: #ffffff; // потом надо поменять

$scrollbar-dark: #9F9F9F;
$scrollbar-light: #9F9F9F; // потом надо поменять

$thumbnail-background: #DBDCDD;

$popup-back-dark: #4A4A4F;
$popup-back-light: #FFFFFF; // поменять когда релизнут светлую тему для уведомлений

// без пары :(
$loading-bar: #363636;
$additional-text: #AFB0B0; // потом добавить пару
$red-button: #F23541;
$hovering-red-button: #CD2C35;
