$media-sizes: (
  // "xs": 480px,
  // "s": 640px,
  // "sm": 800px,
  // "m": 900px,
  // "l": 1024px,
  // "xl": 1350px,
  // "2xl": 1920px,
);

// Content
$fields-offset: 1.8rem;
$top-offset: 3rem;

// header
$header-height: 5.8rem;

// sidebar
$sidebar-width: 5.8rem;
$opened-sidebar-width: 20rem;


// цвета
$background-dark: #363636;
$background-light: #F8F8F8;

$text-field-dark: #3E3E3E;
$text-field-light: #FFFFFF;

$drag-drop-dark: #585858;
$drag-drop-light: #F2F2F2;

$border-dark: rgba(255, 255, 255, 0.2);
$border-light: rgba(0, 0, 0, 0.28);

$transparency-main-text-dark: rgba(255, 255, 255, 0.7);
$transparency-main-text-light: rgba(0, 0, 0, 0.5);

$black1-text: #000000;
$white1-text: #FFFFFF;

$header-dark: #2E2E2E;
$header-light: #ffffff; // потом надо поменять

$scrollbar-dark: #9F9F9F;
$scrollbar-light: #9F9F9F; // потом надо поменять

$thumbnail-background: #DBDCDD;

$popup-back-dark: #4A4A4F;
$popup-back-light: #FFFFFF; // поменять когда релизнут светлую тему для уведомлений

$teg-button-dark: #6A6A6A;

// без пары :(
$loading-bar: #363636;
$additional-text: #AFB0B0; // потом добавить пару
$red-button: #F23541;
$hovering-red-button: #CD2C35;

// цвета новые
$background-dark: #37373A;
$text-field-dark: #3E3E3E;
$border-dark: rgba(255, 255, 255, 0.2);
$red-hovering-tag-button-dark: #ED3437;
$hovering-red-button: #BF2029;
$header-dark: #2E2E2E;
$scrollbar-dark: #767676;
$red-hovering-button-text-dark: #D9D9D9;
$pop-up-bg: #4A4A4F;
$hovering-red-button: #878787;
$black-text: #000000;
$grey-article-border: #AFB0B1;
$background-light: #FCFEFF;
$white-text-field-main-text-dark: #FFFFFF;
$main-fields: #DBDCDD;
$additional-text: #AFB0B0;
$hovering-tag-button-light: #CBCBCB;
$button-watch-more: #1C1C1C;
$hovering-adv-button-bg: #A0CEF8;
$adv-button-text: #295DCD;
$adv-button-bg: #E2F0FD;
$entrance-bg-dark-2: rgba(0, 0, 0, 0.64);
$entrance-bg-dark: rgba(255, 255, 255, 0.4);
$transparency-main-text-dark: rgba(255, 255, 255, 0.7);
$transparency-main-text-light: rgba(0, 0, 0, 0.5);
$tag-button-dark: #6A6A6A;
$tag-button-light: #EAEAEA;
$drag-drop-text-dark: #585858;
$drag-drop-light: #F2F2F2;
$content-blocks-dark: rgba(67, 67, 70, 1);
$content-blocks-light: rgba(248, 248, 248, 1);