@use '@styles/variables' as *;

.notifications {
    width: 57rem;
    max-height: 57rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.1rem solid $main-fields;
        padding-bottom: 0.3rem;
    }

    &__list {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 1.2rem;
        position: relative;
        margin: 2rem 1.2rem;
        cursor: pointer;
    }

    &__avatar {
        flex: none;
        width: 4.8rem;
        height: 4.8rem;
        background-color: $red-hovering-button-text-dark;
        border-radius: 50%;
        flex-shrink: 0;
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__text {
        color: $white-text-field-main-text-dark;
        word-break: break-word;
        max-height: 4.4rem;
        max-width: 34rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__time {
        margin-top: 0.4rem;
        color: $additional-text;
    }

    &__thumbnail {
        width: 7.2rem;
        height: 4.7rem;
        background-color: $main-fields;
        border-radius: 1.2rem;
        flex-shrink: 0;
    }
}
