@use '@styles/variables' as *;
@use '@styles/mixins' as m;

.card-short-video {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  &__img {
    background: #DBDCDD;
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
    aspect-ratio: 116/167;
  }

  &__bottom {
    display: flex;
    gap: 6px;
    justify-content: space-between;
  }

  &__bottom-left {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__title {
    color: $white-text-field-main-text-dark;
    margin: 0;

    @include m.wrap-text(2);
  }

  &__info {
    color: $additional-text;
  }
}