
    .custom-button{
        position: absolute;
        background-color: #ED3437;
        color: #FFFFFF;
        border: none;
        border-radius: 1.4rem;
        font-size: 1.6rem;
        cursor: pointer;
        justify-content: center;
        text-align: center;
        width: 10.4rem;
        height: 4.2rem;
        font-weight: 600;

        &:hover {
            background-color: #BF2029; 
        }
    }
