@use '@styles/mixins' as *;
@use '@styles/variables' as *;
@use '@styles/typography' as *;

.card {
    display: flex;
    flex-direction: column;

    .thumbnail {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: $card-border-radius;
        background-color: $thumbnail-background;
        object-fit: cover;
    }

    .content {
        display: flex;
        padding: $main-video-gap 0;

        .avatar {
            flex: none;
            width: $avatar-size;
            height: $avatar-size;
            background-color: $thumbnail-background;
            border-radius: 50%;
            margin-right: $main-video-gap;
        }

        .channel {
            @include title1-small;
            color: #585858;
            padding-top: 0.8rem;
            padding-bottom: 0.4rem;

        }

        .meta {
            @include title1-small;
            color: #585858;
        }
    }
}
