.header {
    &__Button{
        display: flex;
        justify-content: right;
        margin-right: 2.6rem;
        margin-top: 0.8rem;
    }
    &__Search{
        display: flex;
        justify-content: center;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem; 
        align-items: center;
        padding-top: 1.6rem;
        padding-left: 1.6rem;
    }  
    &__logo{
        position: absolute;
        top: 1rem;
        padding-left: 1.6rem;
        padding-top: 1.1rem;
        
    }
}