@use '@styles/variables' as *;
@use '@styles/mixins' as m;

.header {
    position: fixed;
    top: 0;
    left: $sidebar-width;

    width: calc(100% - $sidebar-width);
    padding: 0.8rem $fields-offset;
    box-sizing: border-box;

    background-color: $background-dark;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.2rem;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__user-menu {
        display: flex;
        align-items: center;
        gap: 1.8rem;
    }

    &__create-btn {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        border: none;
        background: none;

        color: $white-text-field-main-text-dark;
        border: 1px solid $white-text-field-main-text-dark;
        border-radius: 3.9rem;
        padding: 0.55rem 1rem;
    }

    &__notification {
        cursor: pointer;
    }

    &__profile {
        cursor: pointer;
    }
}
