@use '@/styles/variables' as *;

.article-grid {
    display: grid;
    grid-template-columns: 2fr repeat(2, minmax(min-content, 1fr));
    column-gap: 1.6rem;
    row-gap: 1.6rem;

    &__popular-card {
        grid-row: 1 / span 3;
        grid-column: 1 / 2;
    }

    @media (max-width: 1440px) {
        grid-template-columns: 2fr minmax(min-content, 425px);
    }
}
