@use '@styles/variables' as *;
@use 'sass:map';

.portal-popover {
    background-color: $pop-up-bg;
    color: $white-text-field-main-text-dark;
    padding: 1.2rem;
    margin: 1rem;
    border-radius: 1.6rem;
    z-index: map.get($zIndexes, 'popover');
    min-width: 20rem;
}
