@use '@styles/variables' as *;
@use '@styles/mixins' as m;

.auth-btn {
    border: none;
    color: $white-text-field-main-text-dark;
    border-radius: 1.4rem;
    height: 4.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.compact {
        width: 10.4rem;
    }

    &--size-compact {
        width: 10.4rem;
    }

    &--size-full-width {
        width: 100%;
    }

    &--color-grey {
        background-color: $grey-article-border;

        &:hover {
            background-color: $hovering-reg-button;
        }
    }

    &--color-red {
        background-color: $red-hovering-tag-button-dark;

        &:hover {
            background-color: $hovering-red-button;
        }
    }
}
