@use '@styles/variables' as *;
@use '@styles/mixins' as m;

.signin-btn {
    border: none;
    background-color: $red-hovering-tag-button-dark;
    color: $white-text-field-main-text-dark;
    border-radius: 1.4rem;
    height: 4.2rem;
    cursor: pointer;

    &:hover {
        background-color: $red-hovering-button-text-dark;
    }

    &.compact {
        width: 10.4rem;
    }

    &.full-width {
        width: 100%;
    }
}
