@use '@styles/variables' as *;
@use '@styles/mixins' as m;

.search { 
    position: relative;

    input {
        width: 50.8rem;
        height: 4.2rem;

        box-sizing: border-box;
        border: none;
        background-color: $white-text-field-main-text-dark;
        border-radius: 1.4rem;

        padding: 0 3.4rem 0 1.6rem;
    }

    input::placeholder {
        color: $black-text;
    }

    &__icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
}