@use '@styles/variables' as *;

.nav-tags {
    position: sticky;
    top: $header-height;
    z-index: 99;

    display: flex;
    gap: 0.8rem;
    background-color: $background-dark;
    padding: 2rem 0 0.8rem 0;
    margin-bottom: 3.4rem;
}
