@use '@styles/variables' as *;
@use 'sass:map';

.nav-tags {
    position: sticky;
    top: $header-height;
    z-index: map.get($zIndexes, 'nav-tags');

    display: flex;
    gap: 0.8rem;
    background-color: $background-dark;
    padding: 2rem 0 0.8rem 0;
    margin-bottom: 3.4rem;
}
